/* Tamanhos de telas 
320px a 480px – Telas de celulares pequenos (smartphones antigos ou modelos mais compactos).
481px a 768px – Telas de tablets e celulares maiores.
769px a 1024px – Telas de tablets em modo paisagem e alguns laptops menores.
1025px a 1280px – Telas de laptops e desktops comuns.
1281px a 1440px – Desktops maiores e laptops com telas de alta resolução.
1441px e acima – Telas de desktop grandes ou monitores ultrawide.
*/

/*Pré definicoes*/
:root {
    --cor0:#eeeded;
    --cor1:#9A9A9A;
    --cor2:#43484C;
    --cor3:#55A08B;
    --cor4:#FE0000;
    --branco:#ffffff;
    --preto:#000000;


    --fonte-principal:"Poppins", sans-serif; 
}

* {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/*Estilos Globais*/
body {
    background-color: var(--cor0);
}

.sec-beneficios,
.sec-categorias,
.sec-lancamentos,
.sec-marcas,
.sec-cadastro {
    width: 80%;
    margin: 100px auto;
}

body h1 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 20px;
}



/*Header*/
header {
    background-color: var(--preto);
    display: flex;
    height: 100px;
    align-items: center;
    padding: 0 50px;
}

.container-logo,
.container-pesquisa,
.container-nav-header {
    flex: 1;
}

.container-logo {
    text-align: left;
}
.container-logo a {
    color: var(--branco);
    font-size: 1.5em;
    font-weight: 600;
}

.container-pesquisa {
    display: flex;
    justify-content: center;
}
.container-pesquisa input {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    text-indent: 10px;
}
.container-pesquisa button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--cor4);
    cursor: pointer;
    transition: 0,2s;
}
.container-pesquisa button:hover {
    opacity: 0.8;
}
.container-pesquisa button img {
    height: 30px;
    width: 30px;
}

.container-nav-header {
    text-align: right;
}
.container-nav-header ul {
    display: flex;
    justify-content: right;
    gap: 20px;
}
.container-nav-header ul a {
    color: var(--branco);
    font-size: 0.8em;
}
.container-nav-header ul a:hover{
    color: var(--cor1);
    transition: 0.2s;
}


/*Container-nav-categorias*/
.container-nav-categorias{
    background-color: var(--preto);
    opacity: 0.9;
    height: 30px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-nav-categorias ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.container-nav-categorias ul a {
    color: var(--branco);
}
.container-nav-categorias ul a:hover{
    color: var(--cor4);
    transition: 0.2s;
}


/*Sec Inicio*/
.sec-inicio .container-img-inicio {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}
.sec-inicio .container-img-inicio img {
    width: 100%;
}
.sec-inicio .container-img-inicio .conteudo-sobre-imagem {
    position: absolute;
    top: 50%; /* Alinha verticalmente ao centro */
    left: 50%; /* Alinha horizontalmente ao centro */
    transform: translate(-50%, -50%); /* Centraliza exatamente */
    text-align: center; /* Centraliza o texto */
    color: var(--cor0);
}
.sec-inicio .container-img-inicio .conteudo-sobre-imagem h1 {
    font-size: 4em;
    text-shadow: 10px 10px 10px var(--preto);
}
.sec-inicio .container-img-inicio .conteudo-sobre-imagem button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: var(--cor0);
    color: var(--preto);
    cursor: pointer;
}
.sec-inicio .container-img-inicio .conteudo-sobre-imagem button:hover {
    transform: scale(102%);
}

/*Sec Beneficios*/
.sec-beneficios{
    background-color: var(--branco);
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 30px;
}
.sec-beneficios .itens-beneficios {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sec-beneficios .itens-beneficios p {
    font-weight: 600;
}


/*Sec Categorias*/
.sec-categorias .container-categorias {
    display: flex;
    gap: 10px;
}
.sec-categorias .container-categorias .itens-categorias{
    background-color: var(--branco);
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.4s ease;
}
.sec-categorias .container-categorias .itens-categorias:hover {
    transform: scale(102%);
}
.sec-categorias .container-categorias .itens-categorias h2 {
    color: var(--preto);
    font-weight: bold;
    margin-bottom: 10px;
}
.sec-categorias .container-categorias .itens-categorias p {
    color: var(--cor1);
    text-align: justify;
}


/*Sec Lançamentos*/
.sec-lancamentos .container-lancamentos {
    display: flex;
    gap: 10px; 
}
.sec-lancamentos .container-lancamentos .itens-lancamentos{
    background-color: var(--branco);
    width: 50%;
    height: 400px;
    padding: 20px;
    transition: 0.4s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec-lancamentos .container-lancamentos .itens-lancamentos img {
    height: 60%;
    width: 100%;
}
.sec-lancamentos .container-lancamentos .itens-lancamentos img:hover {
    transform: scale(102%);
    transition: 0.5s ease;
}
.sec-lancamentos .container-lancamentos .itens-lancamentos p {
    color: var(--cor1);
}
.sec-lancamentos .container-lancamentos .itens-lancamentos .div-comprar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    align-items: flex-end;
}
.sec-lancamentos .container-lancamentos .itens-lancamentos .div-comprar p {
    color: var(--preto);
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
.sec-lancamentos .container-lancamentos .itens-lancamentos .div-comprar button {
    width: 150px;
    height: 35px;
    background-color: var(--branco);
    border-radius: 10px;
    border: 2px solid var(--cor4);
    color: var(--cor4);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.sec-lancamentos .container-lancamentos .itens-lancamentos .div-comprar button:hover {
    transform: scale(102%);
    background-color: var(--cor4);
    color: var(--branco);
}



/*Sec Marcas*/
.sec-marcas .container-marcas {
    background-color: var(--branco);
    padding: 30px;
}
.sec-marcas .container-marcas ul {
    display: flex;
    justify-content:space-around ;
}



/*Sec Cadastro*/
.sec-cadastro .formulario {
    background-color: var(--branco);
    text-align: center;
    padding: 30px;
}
.sec-cadastro .formulario input {
    height: 40px;
    width: 400px;
    text-indent: 10px;
    border: 1px solid var(--cor3);
    border-radius: 10px;
    background-color: var(--cor0);
}
.sec-cadastro .formulario button {
    height: 40px;
    width: 100px;
    background-color: var(--cor3);
    color: var(--branco);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.sec-cadastro .formulario button:hover {
    opacity: 0.9;
}



/*Footer*/
footer {
    background-color: var(--preto);
}
footer .footer1 {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
footer .footer1 .itens-footer1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .footer1 .itens-footer1 h3 {
    color: var(--branco);
}
footer .footer1 .itens-footer1 p {
    color: var(--cor1);
}
footer .footer1 .itens-footer1 ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .footer1 .itens-footer1 a {
    color: var(--cor1);
}
footer .footer1 .itens-footer1 a:hover {
    text-decoration: underline;
}
.footer2 {
    border-top: 1px solid var(--cor0);
    width: 80%;
    margin: auto;
}
.footer2 p {
    color: var(--cor1);
    text-align: center;
    padding: 5px;
}
